
<header>
    <div class="banner home">
        <video muted autoplay loop poster="">
            <source src="assets/videos/miami.mp4" type="video/mp4">
            <source src="" type="video/webm">
            <source src="" type="video/ogg">
        </video>
        <div class="shade">
            <div class="container">
                <h1>LEX International <span class="text-nowrap">Law Firm</h1>
                <p class="kanit large">We address complex transaction, business and investment matters nationally and internationally.</p>
            </div>
        </div>
    </div>
</header>

<section class="home">
    <header class="container intro">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <p>Focusing on the jurisdictions of Europe and <span class="text-nowrap">North America</span>, we offer legal planning, advisory, counseling, and support services to large or small enterprises, start-up businesses, investors, and <span class="text-nowrap">entrepreneurs world-wide</span>.</p>
                <!-- Focusing on the jurisdictions of Europe and North America, we handle complex matters nationally and internationally,
                and offer expertise legal counsel, advisory and support services to large or small enterprises, start-up businesses, investors or idividuals
                engaged in international transactions, businesses and investments. -->
            </div>
        </div>
    </header>

    <div class="container focus">
        <div class="row">
            <div class="col-sm-12 col-lg-4 col-lg-push-4 col-focus-1">
                <div class="gutter">
                    <h2 class="">Our Legal Services</h2>
                    <ul class="chevron halfWidth-sm">
                        <li><p><a href="#/practice_areas#practice02">Corporation Structuring</a></p></li>
                        <li><p><a href="#/practice_areas#practice03">Business &amp; Commercial</a></p></li>
                        <li><p><a href="#/practice_areas#practice04">Taxation</a></p></li>
                        <li><p><a href="#/practice_areas#practice05">Investment &amp; Security</a></p></li>
                        <li><p><a href="#/practice_areas#practice06">Real Estate</a></p></li>
                        <li><p><a href="#/practice_areas#practice07">Estate &amp; Asset Planning</a></p></li>
                        <li><p><a href="#/practice_areas#practice08">Government Relations</a></p></li>
                        <li><p><a href="#/practice_areas#practice09">Immigration</a></p></li>
                        <li><p><a href="#/practice_areas#practice10">International Notarial</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-lg-pull-4">
                <div class="gutter">
                    <h2 class="">Principal US Attorneys</h2>
                    <ul class="chevron">
                        <li><p><a href="#/our_team#lawyer10">Lucius SMEJDA</a> (USA, Canada)</p></li>
                        <li><p><a href="#/our_team#lawyer11">Joseph B. McFARLAND</a> (USA)</p></li>
                        <li><p><a href="#/our_team#lawyer12">Antonio R. ZAMORA</a> (USA)</li>
                        <li><p><a href="#/our_team#lawyer13">Maxim ISTOMIN</a> (Russia, USA)</p></li>
                        <li><p><a href="#/our_team#lawyer14">Elke ROLFF</a> (USA, Switzerland)</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="gutter">
                    <h2 class="">Principal Int'l Network Attorneys</h2>
                    <ul class="chevron">
                        <li><p><a href="#/our_team#lawyer20">Eric J.P CITREY</a> (France)</p></li>
                        <li><p><a href="#/our_team#lawyer21">Vladimir A. TROITSKIY</a> (Russia)</p></li>
                        <li><p><a href="#/our_team#lawyer22">Evgeny V. GOLOVANOV</a> (Russia)</p></li>
                        <li><p><a href="#/our_team#lawyer23">Olivier HANCE</a> (Belgium)</p></li>
                        <li><p><a href="#/our_team#lawyer24">Aleksandr SMIRNOV</a> (Russia)</p></li>
                        <li><p><a href="#/our_team#lawyer25">Jacques ETHIER</a> (Can)</p></li>
                        <li><p><a href="#/our_team#lawyer26">Carlos AUD</a> (Brazil)</p></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section>
    <div class="container highlight">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Locations</h2>
            </div>

            <div class="col-xs-6 col-sm-4">
                <div class="image">
                    <img class="img-responsive" src="assets/locations_usa.jpeg">
                </div>
                <div class="address">
                    <h3>USA</h3>
                    <p>International Place<br />
                    100 S.E. 2nd St. #2222<br />
                    Miami, Florida 33131<br />
                    USA</p>
                    <p>Tel:  +1 (305) 358-9990<br />
                    Fax :  +1 (305) 358-9997</p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4">
                <div class="image">
                    <img class="img-responsive" src="assets/locations_russia.jpeg">
                </div>
                <div class="address">
                    <h3>Russia</h3>
                    <p>Richwise - 3rd Floor<br />
                    7rd Line 76, Basil Island<br />
                    St-Petersburg, 199178<br />
                    Russia</p>
                    <p>Tel:  +7 (812) 323-9086</p>
                </div>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-4">
                <div class="image">
                    <img class="img-responsive" src="assets/locations_belgium.jpeg">
                </div>
                <div class="address">
                    <h3>Belgium</h3>
                    <p>475, Avenue Louise<br />
                    B-1050 Bruxelles<br />
                    Belgium</p>
                    <p>Tel: +32 491 940 149<br />
                    Fax: +32 2 791 53 85</p>
                </div>
            </div>

            <div class="clearfix hidden-xs"></div>

            <div class="col-xs-6 col-sm-4">
                <div class="image">
                    <img class="img-responsive" src="assets/locations_luxemburg.jpeg">
                </div>
                <div class="address">
                    <h3>Luxemburg</h3>
                    <p>17, Boulevard Royal<br />
                    L-2449<br />
                    Luxembourg<br />
                    GD Luxembourg</p>
                    <p>Tel: +352 274 404<br />
                    Fax: +352 246 119 19</p>
                </div>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-4">
                <div class="image">
                    <img class="img-responsive" src="assets/locations_canada.jpeg">
                </div>
                <div class="address">
                    <h3>Canada</h3>
                    <p>1, Carr&eacute; Westmount<br />
                    Bureau 1001<br />
                    Westmount (Qu&eacute;bec)<br />
                    Canada H3Z 2P9</p>
                    <p>Tel: +1 (514) 396 6608<br />
                    Fax: +1 (514) 940 0645</p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4">
                <div class="image">
                    <img class="img-responsive" src="assets/locations_brazil.jpeg">
                </div>
                <div class="address">
                    <h3>Brazil</h3>
                    <p>CAS &Oacute;leo<br />
                    Visas Legaliza&ccedil;&atilde;o de Documentos ltda.<br />
                    Matriz:<br />
                    Rua da Assembl&eacute;ia 19 - 5&deg; andar - Centro<br/>
                    Rio de Janeiro, RJ - Brasil<br />
                    CEP 20011-001</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section-colored -->
