
<header>
    <div class="banner home">
        <video muted autoplay loop poster="">
            <source src="assets/street.mp4" type="video/mp4">
            <source src="" type="video/webm">
            <source src="" type="video/ogg">
        </video>
        <div class="shade">
            <div class="container">
                <h1>LEX International</h1>
                <p class="kanit large">We address complex transaction, business and investment matters nationally and internationally.</p>
            </div>
        </div>
    </div>
</header>

<section class="home">
    <header class="container headline">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <p class="caption">We provide legal planning, advisory, counseling, <c>and support services</c> to large or small enterprises, start-up businesses, investors, and entrepreneurs world-wide</c>.</p>
                <p class="subcaption">We are LEX International, an international law firm focused on the jurisdictions of Europe and <c>North America</c>.</p>
                <!-- Focusing on the jurisdictions of Europe and North America, we handle complex matters nationally and internationally,
                and offer expertise legal counsel, advisory and support services to large or small enterprises, start-up businesses, investors or idividuals
                engaged in international transactions, businesses and investments. -->
            </div>
        </div>
    </header>

    <div class="container text-center">
        <div class="row focus">
            <div class="col-sm-12">
                <h2>Our Legal Services</h2>
                <div class="gutter">
                    <ul class="list-unstyled third-width black-links">
                        <li><p><a href="#/practice_areas#practice02">Corporation Structuring</a></p></li>
                        <li><p><a href="#/practice_areas#practice03">Business &amp; Commercial</a></p></li>
                        <li><p><a href="#/practice_areas#practice04">Taxation</a></p></li>
                        <li><p><a href="#/practice_areas#practice05">Investment &amp; Security</a></p></li>
                        <li><p><a href="#/practice_areas#practice06">Real Estate</a></p></li>
                        <li><p><a href="#/practice_areas#practice07">Estate &amp; Asset Planning</a></p></li>
                        <li><p><a href="#/practice_areas#practice08">Government Relations</a></p></li>
                        <li><p><a href="#/practice_areas#practice09">Immigration</a></p></li>
                        <li><p><a href="#/practice_areas#practice10">International Notarial</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="headline background investment hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-4">
                    <!-- INVESTMENT BANNER -->
                    <p class="caption">We provide legal services to various investment vehicles such as
                    stocks, bonds, mortgages, asset-backed arrangements, private offerings, <c>funds and others</c>.</p>
                    <span class="cta"><a href="#/practice_areas">View Our Practices</a></span></p>
               </div>
            </div>
        </div>
    </div>

    <div class="container border-bottom black-links">
        <div class="row">

            <div class="col-sm-6 col-lg-4">
                <div class="image image-expand image-shadow">
                    <img class="img-responsive visible-mibile" src="assets/homePrincipalUSA.jpeg">
                </div>
                <div class="gutter">
                    <h2 class="smaller">Principal <c>US Attorneys</c></h2>
                    <ul class="chevron">
                        <li><p><a href="#/our_team#lawyer10">Lucius SMEJDA</a> <span class="location">USA, Canada</span></p></li>
                        <li><p><a href="#/our_team#lawyer11">Joseph B. McFARLAND</a> <span class="location">USA</span></p></li>
                        <li><p><a href="#/our_team#lawyer12">Antonio R. ZAMORA</a> <span class="location">USA</span></li>
                        <li><p><a href="#/our_team#lawyer13">Maxim ISTOMIN</a> <span class="location">Russia, USA</span></p></li>
                        <li><p><a href="#/our_team#lawyer14">Elke ROLFF</a> <span class="location">USA, Switzerland</span></p></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-lg-push-4">
                <div class="image image-expand image-shadow">
                    <img class="img-responsive visible-mibile" src="assets/homePrincipalINTL.jpeg">
                </div>
                <div class="gutter">
                    <h2 class="smaller">Principal Int'l Network Attorneys</h2>
                    <ul class="chevron">
                        <li><p><a href="#/our_team#lawyer20">Eric J.P CITREY</a> <span class="location">France</span></p></li>
                        <li><p><a href="#/our_team#lawyer21">Vladimir A. TROITSKIY</a> <span class="location">Russia</span></p></li>
                        <li><p><a href="#/our_team#lawyer22">Evgeny V. GOLOVANOV</a> <span class="location">Russia</span></p></li>
                        <li><p><a href="#/our_team#lawyer23">Olivier HANCE</a> <span class="location">Belgium</span></p></li>
                        <li><p><a href="#/our_team#lawyer24">Aleksandr SMIRNOV</a> <span class="location">Russia</span></p></li>
                        <li><p><a href="#/our_team#lawyer25">Jacques ETHIER</a> <span class="location">Canada</span></p></li>
                        <li><p><a href="#/our_team#lawyer26">Carlos AUD</a> <span class="location">Brazil</span></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-lg-pull-4">
                <div class="image image-expand image-shadow">
                    <img class="img-responsive hidden-lg" src="assets/homeOurJurists-sm.png">
                    <img class="img-responsive visible-lg-inline" src="assets/homeOurJurists.png">
                </div>
                <div class="gutter">
                    <h2 class="smaller">Our Jurists</h2>
                    <ul class="chevron third-width-md">
                        <li><p><a href="#/our_team#jurists01">Susanne LEONE</a> <span class="location">Germany</span></p></li>
                        <li><p><a href="#/our_team#jurists02">Evgeny GOLOVANOV</a> <span class="location">Russia</span></p></li>
                        <li><p><a href="#/our_team#jurists03">Jasmin WELKER</a> <span class="location">Germany</span></p></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container headline hidden-xs">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <p class="caption">We provide a diversified practice regarding domestic
                and international tax jurisdictions, includes
                optimization of laws and the elaboration of international strategies,
                with judicial, tax and governmental requisites.</p>
                <span class="subcaption cta"><a href="#/practice_areas">View Our Practices</a></span>
            </div>
        </div>
    </div>

    <div class="highlight">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Our Locations</h2>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand">
                        <img class="img-responsive" src="assets/locations_usa.jpeg">
                    </div>
                    <div class="ourLocations">
                        <h3>USA</h3>
                        <p>International Place<br />
                        100 S.E. 2nd St. #2222<br />
                        Miami, Florida 33131<br />
                        USA</p>
                        <p>Tel:  +1 (305) 358-9990<br />
                        Fax :  +1 (305) 358-9997</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand">
                        <img class="img-responsive" src="assets/locations_russia.jpeg">
                    </div>
                    <div class="ourLocations">
                        <h3>Russia</h3>
                        <p>Richwise - 3rd Floor<br />
                        7rd Line 76, Basil Island<br />
                        St-Petersburg, 199178<br />
                        Russia</p>
                        <p>Tel:  +7 (812) 323-9086</p>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand">
                        <img class="img-responsive" src="assets/locations_belgium.jpeg">
                    </div>
                    <div class="ourLocations">
                        <h3>Belgium</h3>
                        <p>475, Avenue Louise<br />
                        B-1050 Bruxelles<br />
                        Belgium</p>
                        <p>Tel: +32 491 940 149<br />
                        Fax: +32 2 791 53 85</p>
                    </div>
                </div>

                <div class="clearfix hidden-xs"></div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand">
                        <img class="img-responsive" src="assets/locations_luxemburg.jpeg">
                    </div>
                    <div class="ourLocations">
                        <h3>Luxemburg</h3>
                        <p>17, Boulevard Royal<br />
                        L-2449<br />
                        Luxembourg<br />
                        GD Luxembourg</p>
                        <p>Tel: +352 274 404<br />
                        Fax: +352 246 119 19</p>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand">
                        <img class="img-responsive" src="assets/locations_canada.jpeg">
                    </div>
                    <div class="ourLocations">
                        <h3>Canada</h3>
                        <p>1, Carr&eacute; Westmount<br />
                        Bureau 1001<br />
                        Westmount (Qu&eacute;bec)<br />
                        Canada H3Z 2P9</p>
                        <p>Tel: +1 (514) 396 6608<br />
                        Fax: +1 (514) 940 0645</p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4">
                    <div class="image image-expand">
                        <img class="img-responsive" src="assets/locations_brazil.jpeg">
                    </div>
                    <div class="ourLocations">
                        <h3>Brazil</h3>
                        <p>CAS &Oacute;leo<br />
                        Visas Legaliza&ccedil;&atilde;o de Documentos ltda.<br />
                        Matriz:<br />
                        Rua da Assembl&eacute;ia 19 - 5&deg; andar - Centro<br/>
                        Rio de Janeiro, RJ - Brasil<br />
                        CEP 20011-001</p>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>

    <div class="container headline hidden-xs">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <!-- BUSINESS BANNER II -->
                <p class="caption">Wide-ranging experience structuring, negotiating, and implementing business acquisitions, divestitures, mergers and reorganizations.</p>
                <p class="subcaption">
                    As well as debt and equity financing, capital market,
                    leveraged buy-outs, corporate restructuring, commercial compliance,
                    leasing and U.C.C. matters.
                    <span class="cta"><a href="#/practice_areas">View Our Practices</a></span>.
                </p>

            </div>
        </div>
    </div>
</section>