@import url('https://fonts.googleapis.com/css?family=Work+Sans:300|Kanit:100|Titillium+Web:200');
body, .telephone p {
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
}
.navbar a, footer nav, .breadcrumb {
    font-family: Kanit;
}
.telephone, .banner, .banner h1, h2, h3, h4, h6, .headline .caption {
    font-family: 'Titillium Web', sans-serif;
}

/* COLORS

green (main color)
    009999   rgba(0, 153, 153, 0.5)

yellow heading (in highlight)
    text over dark background
    d9ff66
green heading (in highlight)
    00cccc

orange (subnav)
    rgba(255, 128, 0, 0.9)

dark yellow (bullet and subheading)
    text over white
    99cc00

*/

/* --- _SECTIONS ---------------------------- */

html, body {
    height: 100%;
    -webkit-text-size-adjust: inherit;
}
body {
    /*
    padding-top: 50px;
    font-smooth: never;
    */
    color: #444;
    background: White;
}

/* --- _STRUCTURE PADDING ------------------------- */

/* --- ROW padding --- */
.row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.row .row {
    margin-top: 0;
    margin-bottom: 0;
}
/* --- COLUMN padding --- */
.row > div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* --- CANCEL padding --- */
.clearfix, .headline.nogutter, .highlight.nogutter, .container.nogutter .row, .container.nogutter .row > div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.clearfix, .highlight.nogutter {
    padding-bottom: 0 !important;
}
.gutter {
    padding-left: 10px;
    padding-right: 10px;
}
/* --- CANCEL padding --- */
.row.focus {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
.row > div.focus {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
footer .row, footer .row div {
    margin-top: 0;
    margin-bottom: 0;
}

.highlight .row > div {
    margin-top: 0;
}


/*
div[class*='col-'] {
    padding-top: 1.3em;
}
div[class*='col-'] div[class*='col-'] {
    padding-top: 0;
}
.row {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
.row .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
*/


.border-top {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 1em;
    padding-top: 1em;
}
.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1em;
    padding-bottom: 1.3em;
}

/* --- --- --- */
.breadcrumb {
    background: transparent;
    border-bottom: 0 solid rgba(198, 210, 210, 0.5);
    border-radius: 0 0 5px 5px;
    color: #999;
}
.breadcrumb li.active {
}
.breadcrumb > li + li:before {
    /* content: "\232A"; */
    content: "\232a";
    line-height: 0;
    padding-right: 10px;
    padding-left: 7px;
    font-size: 23px;
    font-weight: 300;
    vertical-align: -3px;
    color: #bbb;
    display: inline-block;
    width: 25px;

}

/*-- _LINKS ---------------------------------------------------- */

a, a:hover, a:focus {
    color: #009999;
    text-decoration: none;
}
nav a, .dropdown-menu > li > a {
}

/* -- LINK COLOR -----------------------------------------------------  */

/* nav color */
.breadcrumb a, .breadcrumb a:focus, a.back-link:hover, footer a:focus, p a, p a:focus {
    border-bottom: 1px solid #009999;
}
.breadcrumb a:hover, p a:hover, a.back-link {
    border-bottom: 0;
}
.black-links a, .black-links a:focus {
    color: inherit;
    border-bottom: 1px solid #999;
}











/*-- _HEADINGS and COPY -------------------------------------------- */

h1, h2, h3 {
	color: #00b32d;
	color: #009999;
    font-weight: 200;
    margin: 0 0 0.5em;
    line-height: 1.3;
}

.profile-header h1 span {
    display: block;
    color: #aaa;
    padding-top: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
}
h3 {
    color: #ff8000;
    color: #00b32d;
}
.profile-list h3 span {
    display: block;
    font-size: 0.7em;
    color: #999;
    padding:3px;
}
.highlight h2 {
	color: #00b3b3;
}
.highlight h3 {
	color: #d5f76e;
}
.ourteam h3 {
    color: #99cc00;
    color: rgba(255, 128, 0, 0.9);
}
h4, h6 {
    margin-top: 0;
    font-weight: bold;
}
p {
    line-height: 1.5;
}
c {
    white-space: nowrap;
}
.chevron {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}
.chevron li {
    padding-left: 20px;
    background: url("assets/iconmonstr-arrow-29.svg") no-repeat left .4em;
}
.chevron p, .list-unstyled p {
    margin-bottom: 3px;
}
.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}
/* back-link */
.profile-header a.back-link {
	margin: 0;
	font-size: 0.8em;
	opacity: 0.7;
}
.profile-header a.back-link:before {
	content: "\21E4";
	content: "\00AB";
	font-size: 25px;
	vertical-align: -2px;
	padding: 0 6px 0 0;
	opacity: 0.7;
}
.profile-header a.back-link:hover {
	opacity: 1;
	border: 0;
}

/* -- _highlight -------------------------------------- */
.highlight {
    background: #333;
    padding: 1em 0;
    margin-top: 1em;
}

.highlight, .highlight .headline .subcaption {
    color: rgba(255, 255, 255, 0.8);
}
/*
.highlight.light {
    border-top: 1px solid rgba(0, 153, 153, 0.3);
    border-bottom: 1px solid rgba(0, 153, 153, 0.3);
    background: rgba(0, 77, 77, 0.045);
}
*/



/* -- _BRAND _LOGO --------------------------------------------- */
.navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover,
.navbar .navbar-right > li > a:last-child, .navbar .navbar-right > li > a:last-child:hover, .navbar .highlight > li > a:last-child:focus,
.navbar.noscroll .navbar-right > li > a:last-child, .navbar.noscroll .navbar-right > li > a:last-child:hover, .navbar.noscroll .highlight > li > a:last-child:focus {
    background: #009999;
    color: White;
    text-shadow: none;
}
.navbar.noscroll .navbar-brand:hover, .navbar.noscroll .navbar-right > li > a:last-child:hover {
    background: #009999;
    color: White;
    text-shadow: none;
    padding-bottom: 6px;
    border-bottom: 2px solid white;
}
.navbar-brand {
    margin-left: -15px;
}

/*-- _BANNER ----------------------------------- */
.banner {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-bottom: 80px;
    background: rgba(0,0,0,0.78);
	color: White;
    text-align: center;
}
.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 110%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.banner.the_firm, .banner.practice_areas, .banner.banner-ourteam, .banner.links_events, .banner.contact {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
}
.banner h1, .banner.home {
	color: rgba(255, 255, 255, 0.95);
	margin-bottom: 0.2em;
}
.banner.the_firm {
    background-image: url("assets/BG-the_firm.jpg");
    background-position: center top;
}
.banner.practice_areas {
    background-image: url("assets/BG-practice_areas.png");
    background-position: center -200px;
}
.banner.banner-ourteam {
    background-image: url("assets/BG-our_team.jpeg");
    background-position: center -100px;
}
.banner.links_events {
    background-image: url("assets/BG-links_events.jpeg");
    background-position: right -50px;
}
.banner.contact {
    background-image: url("assets/BG-contact.jpg");
    background-position: right center;
    text-align: left;
}
.banner.home {
    background-color: transparent;
}
.banner.home h1, .banner p {
    padding-right: 6%;
    padding-left: 6%;
}
.banner.not_found {
    padding: 70px 0;
}
.banner.not_found h1 {
    font-size: 60px;
}
/*
.banner.the_firm .shade {
    background: rgba(111, 145, 8, 0.5);
    text-shadow: 1px 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/






/* --- DONE ------ DONE ------ DONE -------- DONE ------- DONE -------- DONE -------*/






                                        /* === col-xm-* ======================================== */
                                        @media only screen and (max-width : 500px) {
                                            div.col-xs-6 {
                                                width: auto;
                                                float: none;
                                            }
                                        }

                                        /* === MOBILE ONLY ============ XSMALL ================ */
                                        @media only screen and (max-width : 480px) {}

                                        /* === Retina ========================================= */
                                        @media only screen and (max-width : 320px) {}



                                        /* === _MOBILE and TABLETS ====== SMALL ================= */
                                        @media only screen and (max-width : 768px) {

                                            /* --- MOBILE and TABLETS --- */
                                            .banner video, section div[class*='col-'] img, .headline.nogutter {
                                                display: none;
                                                margin: 0;
                                                padding: 0;
                                            }
                                                                                        /* --- MOBILE and TABLETS --- */
                                            body {
                                                font-size: 15px;
                                                padding-top: 50px;
                                            }
                                            h1 {
                                            	font-size: 30px;
                                            }
                                            .profile-header h1 span {
                                                font-size: 18px;
                                            }
                                            .headline .caption {
                                                font-size: 18px;
                                            }

                                            .headline .subcaption {
                                            }


                                            .banner.home {
                                                background: #000;
                                                padding: 1em 0;
                                            }

                                            .row, .row.focus {
                                                margin-top: 0;
                                                marign-bottom: 0;
                                            }
                                            div[class*='col-'] .image.mobile img, section div[class*='col-'] img.mobile {
                                                display: inline;
                                            }
                                            .image.mobile {
                                                padding-bottom: 20px;
                                                border: 0;
                                            }
                                            .profile-list a.image.mobile + h3 {
                                                padding-top: 10px;
                                            }
                                            .profile-list a.image.mobile img {
                                                width: 100px;
                                                height: 100px;
                                            }
                                            .ourteam .content {
                                                margin-top: 2em;
                                                padding-top: 2em;
                                                border-top: 1px solid rgba(0, 0, 0, 0.15);
                                            }
                                            .profile-header {
                                                text-align: center;
                                                padding-top: 50px;
                                            }
                                            .navbar {
                                                background: white;
                                                border: none;
                                            }
                                            .navbar .navbar-toggle {
                                                border: 2px solid #009999;
                                                padding: 7px 5px;
                                                margin-top: 10px;
                                            }
                                            .navbar .icon-bar {
                                                background: #009999;
                                            }
                                            /* --- SUBNAV and FOOTER NAV ----------------- */
                                            footer {
                                                font-size: 16px;
                                                border-top: 2px solid #009999;
                                            }
                                            footer nav {
                                            }
                                            footer .contact {
                                                padding-top: 15px !important;
                                            }
                                            footer .contact p {
                                                margin-bottom: 0;
                                            }
                                            footer .contact img {
                                                float: left;
                                                margin-right: 15px;
                                            }
                                            footer .contact .content {
                                                overflow: auto;
                                            }
                                            footer .copyright {
                                                text-align: center;
                                                font-size: 13px;
                                                border-top: 1px solid #ddd;
                                                margin-top: 20px !important;
                                                padding-top: 10px;
                                                padding-bottom: 10px ;
                                                background: #eee;
                                            }
                                            footer nav {
                                                border-bottom: 1px solid #777;
                                                font-weight: bold;
                                            }
                                            footer nav ul, footer nav li, footer nav div {
                                                border: 0 !important;
                                                padding-left: 0 !important;
                                                padding-right: 0 !important;
                                                margin-left: 0 !important;
                                                margin-right: 0 !important;
                                                list-style: none;
                                            }
                                            .subnav li, footer nav li {
                                                display: block;
                                            }
                                            footer nav ul li ul li a, footer nav ul li ul li a:hover {
                                                padding-left: 15px;
                                                padding-top: 11px;
                                                padding-bottom: 11px;
                                                font-weight: normal;
                                                border: none;
                                                border-top: 1px solid #ddd;
                                            }
                                            footer nav a, footer nav a:hover {
                                                display: block;
                                                padding: 15px 15px 15px 0;
                                                border: none;
                                                border-top: 1px solid #999;
                                                color: #444;
                                            }
                                            nav > ul:first-child > li:first-child > a {
                                                border-top: 0;
                                            }
                                            .subnav a, .subnav a:hover {
                                                display: block;
                                                padding: 15px;
                                                border-top: 1px solid #ff8000;
                                                color: #ff8000; /* ff8000 */
                                            }
                                            .subnav li:first-child a, .subnav li:first-child a:hover {
                                                border-top: 0;
                                            }


                                            /* --- MOBILE and TABLETS --- */
                                            .banner {
                                                background: black;
                                                margin: 0;
                                                padding: 100px 0 1em;
                                            }


                                            /* --- MOBILE and TABLETS --- */
                                            .practiceareas .text-center {
                                                text-align: left;
                                            }
                                            .text-center {
                                                text-align: inherit;
                                            }
                                            .profile-list, .profile-list .text-center {
                                                text-align: center;
                                            }

                                            /* --- MOBILE and TABLETS --- */
                                            .focus {
                                                background: rgba(45, 57, 57, 0.05);
                                                padding-bottom: 1em;
                                            }

                                            .headline {
                                                text-align: center;
                                            }

                                            .headline .cta {
                                                margin-top: 10px;
                                                display: block;
                                            }
                                        }


















/* MEDIUM only  */
@media only screen and (min-width: 769px) and (max-width : 992px) {
    .container {
        width: auto;
    }
    .profile-list h3 {
        font-size: 24px
    }
    .profile-list img {
        width: 100px;
        height: 100px;
    }
    .profile-header h1 {
    	font-size: 50px;
    }
}
/* MEDIUM to LARGE */
@media only screen and (min-width: 769px) and (max-width : 1199px) {
    ul.third-width-md {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}







/* ========== _MEDIUM or larger = ALL Desktops ============= */
@media only screen and (min-width: 769px) {


    /* --- _FONT-SIZES ------------ MEDIUM or larger --- */
    body {
        font-size: 18px;
    }
    .navbar-nav > li > a {
        padding: 10px 15px;
    }
    .navbar, .subnav {
        font-size: 15px;
    }
    .breadcrumb, .breadcrumb a, .breadcrumb li:before {
        font-size: 17px;
    }
    .navbar {
        font-weight: bold;
    }
    .navbar .navbar-brand {
    }
    /* --- --- --- */
    .banner p {
        font-size: 35px;
        line-height: 1.2;
        /* text-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
    }
    .banner h1 {
    	font-size: 80px;
    }

    /* HEADLINE */
    .headline {
        margin-top: 2em;
        margin-bottom: 0;
    }
    .headline.highlight {
        margin-top: 2em;
        padding-top: 4em;
        padding-bottom: 3em;
    }
    .headline .caption {
        font-size: 40px;
        line-height: 1.1;
        color: #999;
        margin-bottom: 1em;
        margin-left: 10%;
        margin-right: 10%;
    }
    .highlight.headline .caption, .highlight.headline .subcaption {
        color: #ddd;
    }
    .highlight.headline,  {
        margin-bottom: 0;
    }
    .nomargin {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .headline .subcaption {
        padding-bottom: 1.3;
        color: #555;
        margin: 0 12%;
    }
    .headline.background .subcaption {
        margin: 0;
    }
    .highlight .headline .subcaption {
    }
    .cta {
        display: block;
        padding: 1.3em 0;
    }
    .cta a {
        font-size: 20px;
        border: 1px solid rgba(0, 153, 153, 0.8);
        padding: 12px 30px;
        font-weight: 400;
        background: rgba(0, 77, 77, 0.05);
        line-height: 2;
    }
    .highlight .cta a {
        border: 1px solid rgba(0, 153, 153, 1);
        border: 1px solid rgba(0, 204, 204, 1);
        background: transparent;
        color: #00cccc;
    }
    .cta a:after {
        font-size: 30px;
        content: "\271A";
        content: "\2794";
        padding-left: 8px;
        font-weight: normal;
        vertical-align: -2px;
        transition-duration: 0.5s;
        color: rgba(0, 153, 153, 0.8);
    }
    .cta :hover:after {
        color: White;
        margin-right: -15px;
        padding-left: 24px;
    }
    /* HEADLINE backgrounds */
    .headline.background {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        padding-top: 2em;
        padding-bottom: 1em;
        margin-bottom: 2em;
        background-color: #222;
    }
    .headline.background.realestate {
        background-image: url("assets/headline-realestate.jpeg");
        background-position: right bottom;
        text-align: left !important;
    }
    .headline.background.investment {
        background-image: url("assets/headline-investment.jpg");
        background-position: left bottom;
        text-align: right !important;
    }
    .headline.background.business {
        background-image: url("assets/headline-business.jpg");
        background-position: left center;
        box-shadow: none;
    }
    .headline.background .cta a {
        border: 1px solid white;
    }
    .headline.background .cta a, .headline.background .cta a:after, .headline.background .caption, .headline.background .subcaption {
        color: white;
    }
    .headline .cta a:hover {
        color: white;
        background: #009999;
        border-color: #009999;
    }

    .headline.background, .highlight {
        box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,1),
                    inset 0 30px 30px -30px rgba(0,0,0,1);
    }
    .telephone p.large {
        color: #009999;
        word-break: keep-all;
        white-space: nowrap;
        margin: 0.4em 0;
    }

    /* --- FONT SIZES --- ------- MEDIUM or larger --- */

    /* --- --- --- */
    h2 {
    	font-size: 45px;
    }
    .highlight h2, .profile-list h2 {
    	font-size: 55px;
    }
    h2.smaller, .telephone p.large {
        font-size: 40px;
    }
    .headline .caption.blue {
        color: #00cccc;
        padding-bottom: 0.5em;
    }
    h3 {
    	font-size: 28px;
    }
    /* --- --- --- */
    h4 {
    	font-size: 20px;
    }

    .image + h2, .image + div h2, .image + h3, .image + div h3 {
        padding-top: 0.65em;
    }
    /* --- --- --- */
    footer, footer h6 {
        font-size: 14px;
    }
    .telephone p.hours {
        font-size: 16px;
    }
    .smaller-text, .ourteam .description  {
        font-size: 17px;
        margin-bottom: 7px;
        line-height: 1.2;
    }
    span.location {
        font-size: 0.85em;
        margin: -10px 0 0 10px;
        color: #aaa;
    }
    ul.chevron li {
        background-size: 12px 12px;
    }

    /* --- CURVY CORNERS ------------ MEDIUM or larger --- */
    .cta a {
        border-radius: 3px;
    }
    .navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover,
    .navbar .navbar-right > li > a:last-child, .navbar .navbar-right > li > a:last-child:hover, .navbar .highlight > li > a:last-child:focus {
        border-radius: 0 0 3px 3px;
    }

    /* --- _CONTAINER ------------ MEDIUM or larger --- */
    .focus {
        background: rgba(45, 57, 57, 0.05);
        padding-bottom: 1.3em;
    }
    /* --- --- --- */


    /* --- --- --- */
    .image-expand {
        margin: 0 -14.5px;
    }
    /* --- --- --- */
    .image-shadow {
        position: relative;
        /* float: left; */
    }
    .image-shadow:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow:
		    inset 0 -50px 150px -50px rgba(120,120,0,0.7);
		box-shadow:
		    inset 0 -40px 40px -40px rgba(255,255,220, 0.1);
		border-radius: 3px;
	}
    /* --- --- --- */
    ul.half-width {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 0;
    }
    ul.third-width {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }




    /* --- _PAGES ----------------- MEDIUM or larger --- */
    section.practiceareas, section.linksevents, section.contactus {
        margin-bottom: 2em;
    }
    /* --- _HOME ------------------ MEDIUM or larger --- */
    /* --- _PRACTICEAREAS --------- MEDIUM or larger --- */
    .practiceareas img {
        padding-top: 2em;
        margin-bottom: -.7em;
    }
    .practiceareas h2 {
        text-align: center;
    }
    /* --- _OURTEAM ------------- MEDIUM or larger --- */

    /* --- _profile-list ------------- MEDIUM or larger --- */
    .profile-list {
        margin-bottom: 2em;
    }
    .profile-list .row > div:nth-child(3n+5) {
        clear: left;
    }

    .profile-list h3 a {
        color: #666;
        border-top: 1px solid #aaa;
        padding-bottom: 0;
        line-height: 1;
    }
    .profile-list h3 a:hover {
        color: #009999;
        border-top: 1px solid #009999;
    }
    /* --- _profile-header ------------- MEDIUM or larger --- */
    .profile-header {
        padding-top: 60px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        background: rgba(0, 55, 70, 0.6);
        background: #ddd;
        box-shadow: inset 0 -100px 100px 10px rgba(255,255,255,0.5),
                    0 10px 25px -10px rgba(0,0,0,0.2);

        box-shadow: inset 0 -100px 100px 10px rgba(255,255,255,0.4);

    }
    .profile-header a.back-link:before {
	    margin-left: 15px;
	}
    .profile-header h1 {
    	padding-top: 35px;
        font-weight: 200;
    	line-height: 1;
    	margin: 5px 0 0 15px;
        border-top: 1px solid #ccc;
    }
    .profile-header h1 span {
        font-size: 30px;
    }
    .profile-header img {
        box-shadow: 0 -100px 200px 30px rgba(255,255,255,0.6);
    }
    .ourteam .content {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
    .ourteam .col-sm-4 .content {
        margin-right: 15px;
    }
    .ourteam .content:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }
    .ourteam .description p {
    }
    /* --- _LINKSEVENTS ---------- MEDIUM or larger --- */
    .linksevents header {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 2em;
    }
    /* --- _CONTACTUS ------------ MEDIUM or larger --- */
    .contactus header {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 2em;
    }


    /* --- _NAv MAINNAV --- MEDIUM or larger --- */
    .nav > li > a {
        padding: 9px 10px 9px;
    }
    .navbar-brand, .navbar .navbar-right > li > a:last-child {
        padding: 10px 15px;
        height: auto;
    }
    .dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #009999;
        background: inherit;
        font-weight: bold;
    }
    .navbar {
        border: 0;
        background: rgba(255,255,255,0.95);
        box-shadow: 0 0 30px -4px rgba(0,0,0,.2);
        transition-duration: 0.5s;
        min-height: 40px;
    }
    .nav > li > a:hover, .nav > li > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        background: inherit;
    }
    .navbar.noscroll, .noscroll .dropdown-menu {
        background: transparent;
        box-shadow: none;
    }
    .dropdown {
        cursor: pointer;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        background: rgba(255,255,255,0.95);
        box-shadow: 0px 5px 4px 1px rgba(0,0,0,.3);
        border: 0;
        text-align: right;
    }
    .dropdown-menu > li:last-child > a {
        font-weight: 300;
    }
    .noscroll a, .navbar.noscroll .navbar-nav > li > a, .noscroll .dropdown-menu > li > a {
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
    }
    .navbar.noscroll .navbar-nav > li > a:hover, .navbar.noscroll .navbar-nav > li > a:focus, .noscroll .dropdown-menu > li > a:hover, .noscroll .dropdown-menu > li:hover a {
        color: white;
    }
    .navbar.noscroll .navbar-nav > li > a:hover, .noscroll .dropdown:hover > a {
        border-bottom: 2px solid white;
        padding-bottom: 7px;
    }

    /* --- _SUBNAV ----------------- */
    .subnav {
        margin: 4em 0 0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .subnav li {
        padding: 0;
        line-height: 2;
    }
    .subnav a {
        padding: 0 6px;
        word-break: keep-all;
        white-space: nowrap;
        border: 2px solid white;
        border-radius: 5px;
        line-height: 1.5;
        color: rgba(255, 128, 0, 0.9); /* ff8000 */
    }
    .subnav a:hover {
        border-color: rgba(255, 128, 0, 0.7);
    }

    /* --- _FOOTER ---------------------------------- */
    footer {
        color: #888;
        background: #fafafa;
    }
    footer p {
        margin: 0;
        line-height: 1.3;
    }
    footer .container .col-sm-12.navigation {
        background: #f4f4f4;
        border-bottom: 1px solid #eee;
            padding-bottom: 1em;
    }

        footer nav ul {
            list-style: none;
            padding-left: 0;
            padding-top: 0.5em;
        }
        footer nav > ul {
            padding-bottom: 1em;
            padding-top: 1.5em;
        }
        footer nav ul a, footer nav ul a:focus {
            display: block;
            border: none;
            color: #222;
        }
        footer nav > ul > li > a, footer nav > ul > li > a:focus {
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }

    footer .flag-thumb {
        float: left;
        padding: 0 15px 0 0;
        opacity: 0.8;
    }
    footer .content {
        overflow: auto;
    }
    footer div.contact {
        margin-top: 2.5em;
        margin-bottom: 3em;
    }
    footer div.copyright {
        padding: 1em 0 6em;
        font-size: 12px;
        text-align: center;
        border-top: 1px solid #dadada;
        color: #999;
    }
    footer div.border {
        border-left: 1px solid #ddd;
    }
    footer .field-name {
        color: #444;
        min-width: 15%;
        display: inline-block;
    }


    .rotation {
        height:250px;
        width:250px;
        position:relative;
        overflow:hidden;
        border:2px solid black;
        }
        .rotation .cell {
        font-size:150px;
        text-align:center;
        line-height:250px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        border-bottom:2px solid black;
        }
        .swap-animation.ng-enter, .swap-animation.ng-leave {
        transition:0.5s linear all;
        }
        .swap-animation.ng-enter {
        top:-250px;
        }
        .swap-animation.ng-enter-active {
        top:0px;
        }
        .swap-animation.ng-leave {
        top:0px;
        }
        .swap-animation.ng-leave-active {
        top:250px;
        }
        .red { background:red; }
        .green { background:green; }
        .blue2 { background:blue; }
        .yellow { background:yellow; }
        .orange { background:orange; }


}





            /* === _LAST LARGE or larger =================================== */

            @media only screen and (min-width : 993px) {
                body {
                    font-size: 20px;
                }
                ul.chevron li {
                    background-size: 15px 15px;
                }
                /* --- CURVY CORNERS ------------ LARGE or larger --- */
                .image-shadow:before, .image-shadow img {
                    border-radius: 3px;
                }
                .focus {
                    border-radius: 5px;
                }
                /* --- FONT-SIZE --- LARGE or larger --- */
                .navbar, .subnav {
                    font-size: 17px;
                }
                .navbar-brand {
                }
                .banner h1 {
                	font-size: 80px;
                }
                .banner p {
                    font-size: 40px;
                }
                .headline .caption {
                    font-size: 45px;
                }
                .telephone p.large {
                    font-size: 50px;
                }
                .telephone p {
                    margin-bottom: 0.8em;
                }
                .headline.background .caption {
                    margin-left: 0;
                    margin-right: 0;
                }
                .profile-header h1 {
                	font-size: 60px;
                }
                .cta a {
                    font-size: 22px;
                }

                footer, footer h6 {
                    font-size: 15px;
                }
                 /* --- _OURTEAM HOME ------------- MEDIUM or larger --- */
                .profile-list img {
                    width: 125px;
                    height: 125px;
                }
            }
            /* === X-LARGE or larger =================================== */
            @media only screen and (min-width : 1201px) {

                /* cancel previous clear which was for a 3 column layout */
                .profile-list .row > div:nth-child(3n+5) {
                    clear: none;
                }
                /* add new clear for each 4 items (4n) starting from the sixth (the team heading is counted also!) */
                .profile-list .row > div:nth-child(4n+6) {
                    clear: left;
                }
            }







                                        /* ======================================================= */












/*
div[class^='col'] h3, div[class*='col'] h3 {
    color: #F00;
}

.col-lg-3:nth-child(4n+1){
    clear: left;
}
*/

/* --- _COLORS
ace600 - real lime
94c20a - link hover | logo background
009973 - nav color

739900 - logo hover background

00b386 - blue green used for default heading color

1f473d - dark green highlight background
66ffff - blue text
ffff66 - yellow text
ffd966 - orange text

ff8000 - beutifull text color

daffb3; - light green backgrounds
d9f0c1;
dcf8d3;
f2ffe6
e6ffcc



eef7f4 - two nice light blue backgrounds
daf1eb


e5ffeb - light blue backgrounds
ccffd8
daf1e6


    background: #daffb3;
    background: #d9f0c1;
    background: #dcf8d3;
    background: #dcf8d3;

    background: #e5ffeb;
    background: #b8d65c;
    background: #ccff99;
    background: #d9f4be;

        background: rgba(198, 210, 210, 0.9);


        transform: translate(-50%, -50%);


    background: rgba(0, 200, 200, 0.5); /* homeVideo6HD
    background: rgba(0, 0, 100, 0.4); /* homeVideo9HD
    background: rgba(30, 100, 0, 0.7); /* homeVideo11HD
    background: rgba(50, 100, 50, 0.5); /* homeVideoA
    background: rgba(30, 100, 30, 0.7); /* homeVideoB


        background:
            linear-gradient(to bottom, white 0%,green 100%),
            linear-gradient(to bottom, yellow 0%,red 100%),
            linear-gradient(to bottom, orange 0%,blue 100%)
            ;
        background-blend-mode:overlay;
         normal|multiply|screen|overlay|darken|lighten|color-dodge|saturation|color|luminosity

nice background

    background: rgba(0, 77, 77, 1);

#example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}

*/


