@import url('https://fonts.googleapis.com/css?family=Work+Sans:300|Kanit:100|Titillium+Web:200');
body, .telephone span, .telephone p {
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
}
.navbar a, footer nav, .breadcrumb {
    font-family: Kanit;
}
.telephone, .banner h1, h2, h3, h4, .headline .caption {
    font-family: 'Titillium Web', sans-serif;
}



/* --- _SECTIONS ---------------------------- */

html, body {
    height: 100%;
}
body {
    /*
    padding-top: 50px;
    font-smooth: never;
    */
    color: #444;
    background: White;
}

/* --- _STRUCTURE PADDING ------------------------- */

/* --- ROW padding --- */
.row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.row .row {
    margin-top: 0;
    margin-bottom: 0;
}
/* --- COLUMN padding --- */
.row > div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.gutter {
    padding-left: 10px;
    padding-right: 10px;
}
/* --- CANCEL padding --- */
.row.focus {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
.row > div.focus {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
footer .row, footer .row div {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.highlight .row > div {
    margin-top: 0;
}


/*
div[class*='col-'] {
    padding-top: 1.3em;
}
div[class*='col-'] div[class*='col-'] {
    padding-top: 0;
}
.row {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
.row .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
*/


.border-top {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 1em;
    padding-top: 1em;
}
/* NIU */
.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1em;
}

/* --- --- --- */
.breadcrumb {
    background: transparent;
    border-bottom: 0 solid rgba(198, 210, 210, 0.5);
    border-radius: 0 0 5px 5px;
    margin-bottom: -30px;
    color: #999;
}
.breadcrumb li.active {
}
.breadcrumb > li + li:before {
    content: "\232A";
    line-height: 0;
    padding-right: 10px;
    padding-left: 7px;
    font-size: 25px;
    font-weight: 300;
    vertical-align: -3px;
    color: #bbb;

}

/*-- _LINKS ---------------------------------------------------- */

a, a:hover {
    color: #009999;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav a, .dropdown-menu > li > a {
}

/* -- LINK COLOR -----------------------------------------------------  */

/* nav color */
.breadcrumb a, footer nav a, p a, p a:focus,
.navbar .navbar-nav a, .navbar .navbar-nav > li > a, .navbar .dropdown-menu > li > a {
    color: #009999;
}
.black-links a {
    color: inherit;
    border-bottom: 1px solid #999;
}
/* hover */
.breadcrumb a:hover,
footer nav a:hover, p a:hover,
.navbar .navbar-nav a:hover, .navbar .navbar-nav > li > a:hover, .navbar .dropdown-menu > li > a:hover {
    color: #99cc00;
}

p a:hover {
    border-bottom: 1px solid #99cc00;
}

/*-- _HEADINGS and COPY -------------------------------------------- */

h2, h3 {
	color: #00b32d;
    font-weight: 200;
    margin: 0 0 0.5em;
}
h3 {
    color: #ff8000;
    color: #009999;
}
h4 {
    font-weight: bold;
}
p {
    line-height: 1.5;
}
c {
    white-space: nowrap;
}
.chevron {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}
.chevron li {
    padding-left: 20px;
    background: url("assets/iconmonstr-arrow-29.svg") no-repeat left .4em;
}
.chevron p, .list-unstyled p {
    margin-bottom: 3px;
}
.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}


/* -- _highlight -------------------------------------- */
.highlight {
    background: rgba(45, 57, 57, 1);
    background: rgba(0, 77, 77, 1);
    background: #333;
    padding: 1em 0;
    margin: 3em 0;
    color: rgba(255, 255, 255, 0.8);
}
.highlight, .highlight .headline .subcaption {
    color: rgba(255, 255, 255, 0.8);
}
.highlight.light {
    border-top: 1px solid rgba(0, 153, 153, 0.3);
    border-bottom: 1px solid rgba(0, 153, 153, 0.3);
    background: rgba(0, 77, 77, 0.045);
}
.highlight h2 {
	color: #ace600;
}
.highlight h3 {
	color: #ffd966;
}


/* -- _BRAND _LOGO --------------------------------------------- */
.navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover,
.navbar .navbar-right > li > a:last-child, .navbar .navbar-right > li > a:last-child:hover, .navbar .highlight > li > a:last-child:focus {
    background: #94c20a;
    color: White;
    text-shadow: none;

}
.navbar.noscroll .navbar-brand:hover, .navbar.noscroll .navbar-right > li > a:last-child:hover {
    background: #739900;
    color: White;
    text-shadow: none;
}


/*-- _BANNER ----------------------------------- */
.banner {
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 80px;
    background: rgba(0, 0, 0, 0.3); /* homeVideoC */

	color: White;
    text-align: center;
}
.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.banner.the_firm, .banner.practice_areas, .banner.banner-ourteam, .banner.links_events, .banner.contact {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
}
.banner h1, .banner.home {
	color: rgba(255, 255, 255, 0.95);
	margin-bottom: 0.2em;
}
.banner.the_firm {
    background-image: url("assets/BG-the_firm.jpg");
    background-position: center top;
}
.banner.practice_areas {
    background-image: url("assets/BG-practice_areas.png");
    background-position: center -100px;
}
.banner.banner-ourteam {
    background-image: url("assets/BG-our_team.jpeg");
    background-position: center -100px;
}
.banner.links_events {
    background-image: url("assets/BG-links_events.jpeg");
    background-position: right -50px;
}
.banner.contact {
    background-image: url("assets/BG-contact.jpg");
    background-position: right center;
}

/*
.banner.the_firm .shade {
    background: rgba(111, 145, 8, 0.5);
    text-shadow: 1px 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/

/* --- _FOOTER ---------------------------------- */
footer {
    background: White;
    margin-top: 0;
    font-size: 14px;
    color: #777;
    box-shadow: inset 0 0 30px -4px rgba(0,0,0,.2);
}
footer nav ul {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0 0 3em;
    margin-top: -1em;
    text-align: center;
}
footer nav ul li {
    padding: 2px 10px;
    display: inline;
    margin-left: 15px;
}
footer nav ul li:first-child {
    margin-left: 0;
}
footer .row span {
    font-weight: 600;
    color: #888;
}
footer .row .title {
    border: 1px solid #dfdfdf;
    font-size: 19px;
    background: #f7f7f7;
    padding-bottom: 0.5em;
    padding-top: 0.4em;
    margin-bottom: 0.2em;
    text-align: center;
}
footer .row .title span {
    color: #444;
}
footer .row .title strong {
    font-weight: 400;
}
footer .row .title p {
    margin: 0;
    padding: 0.3em 0;
}
footer .row div.contact p {
    padding-top: 7px;
    margin-bottom: 0
}
footer .row div.contact p span:first-child {
    display: block;
    padding-bottom: 0.3em;
}
footer .border {
    border-left: 1px solid #e7e7e7;
}
footer .field-name {
    min-width: 15%;
    display: inline-block;
}
footer .flag-thumb {
    float: left;
    margin: 9px 15px 40px 0;
}
footer div.copyright {
    padding: 0.8em 0 5em;
    background: #f7f7f7;
    border: 1px solid #dfdfdf;
    padding-top: 1em;
    margin-top: 5em;
    font-size: 12px;
    text-align: center;
}
footer .copyright a {
    border: none;
}

/* --- DONE ------ DONE ------ DONE -------- DONE ------- DONE -------- DONE -------*/








                                        /* === MOBILE and TABLETS ====== SMALL ================= */
                                        @media only screen and (max-width : 768px) {

                                            /* --- MOBILE and TABLETS --- */
                                            .banner video, section div[class*='col-'] img {
                                                display: none;
                                                margin: 0;
                                                padding: 0;
                                            }
                                            div[class*='col-'] .image.mobile img {
                                                display: inline;
                                            }
                                            .image.mobile {
                                                padding-bottom: 20px;
                                            }
                                            /* --- MOBILE and TABLETS --- */
                                            .banner {
                                                background: black;
                                                margin: 0;
                                                padding: 100px 0 1em;
                                            }
                                            /* --- MOBILE and TABLETS --- */
                                            body {
                                                font-size: 18px;
                                            }
                                            h1 {
                                            	font-size: 30px;
                                            }
                                            /* --- MOBILE and TABLETS --- */
                                            .practiceareas .text-center {
                                                text-align: left;
                                            }
                                            .text-center {
                                                text-align: inherit;
                                            }
                                            .profile-list, .profile-list .text-center {
                                                text-align: center;
                                            }

                                            /* --- MOBILE and TABLETS --- */
                                            .focus {
                                                background: rgba(45, 57, 57, 0.05);
                                                padding-bottom: 1em;
                                            }

                                            .headline {
                                                text-align: center;
                                            }
                                            .headline .caption {
                                                font-size: 22px;
                                            }
                                            .headline .subcaption {
                                                font-sie: 12px;
                                            }
                                            .headline .cta {
                                                margin-top: 10px;
                                                display: block;
                                            }
                                            /* --- MOBILE and TABLETS --- */

                                            footer nav ul {
                                                padding: 0;
                                                margin: 0;
                                            }
                                            footer nav ul li {
                                                padding: 15px 0px;
                                                display: block;
                                                margin: 0;
                                                font-size: 20px;
                                                border-bottom: 1px solid silver;
                                            }
                                            footer nav ul li:last-child {
                                                border-bottom: 0;
                                            }
                                            footer .row .title {
                                                font-size: 16px;
                                                padding-top: 1em;
                                                padding-bottom: 1em;
                                                border-top: 1px solid silver;
                                            }
                                            footer div.copyright {
                                                padding-bottom: 1em;
                                                margin-top: 1em;

                                            }

                                        }

                                        /* === col-xm-* ======================================== */
                                        @media only screen and (max-width : 550px) {
                                            div[class*='col-'] {
                                                width: 100%;
                                            }
                                        }

                                        /* === MOBILE ONLY ============ XSMALL ================ */
                                        @media only screen and (max-width : 480px) {}

                                        /* === Retina ========================================= */
                                        @media only screen and (max-width : 320px) {}


















/* MEDIUM only  */
@media only screen and (min-width: 769px) and (max-width : 992px) {
    .container {
        width: auto;
    }
    .banner h1, .banner p, .headline {
        padding-right: 6%;
        padding-left: 6%;
    }
    .telephone span {
        margin: 0;
    }
}
/* MEDIUM to LARGE */
@media only screen and (min-width: 769px) and (max-width : 1199px) {
    ul.third-width-md {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}







/* ========== MEDIUM or larger = ALL Desktops ============= */
@media only screen and (min-width: 769px) {


    /* --- _FONT-SIZES ------------ MEDIUM or larger --- */
    body {
        font-size: 18px;
    }
    .navbar-nav > li > a {
        padding: 10px 15px;
    }
    .navbar, .subnav {
        font-size: 15px;
    }
    .breadcrumb, .breadcrumb a, .breadcrumb li:before {
        font-size: 17px;
    }
    .navbar {
        font-weight: bold;
    }
    .navbar .navbar-brand {
    }
    /* --- --- --- */
    .banner p {
        font-size: 35px;
        line-height: 1;
        /* text-shadow: 1px 1px 1px rgba(0,0,0,0.5); */
    }
    .banner h1 {
    	font-size: 80px;
    }

    /* HEADLINE */
    .headline {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .headline.highlight {
        margin-top: 2em;
        padding-top: 4em;
        padding-bottom: 3em;
    }
    .headline .caption {
        font-size: 40px;
        line-height: 1.1;
        color: #999;
    }
    .highlight.headline .caption {
        color: #ddd;
    }
    .headline .subcaption {
        padding-top: 1.3em;
        padding-bottom: 0;
        color: #555;
        margin: 0 12%;
    }
    .highlight .headline .subcaption {
    }
    .cta {
        display: block;
        padding-top: 30px;
    }
    .cta a {
        font-size: 20px;
        border: 1px solid rgba(0, 153, 153, 0.8);
        padding: 12px 30px;
        font-weight: 400;
        background: rgba(0, 77, 77, 0.05);
        line-height: 2;
    }
    .highlight .cta a {
        border: 1px solid rgba(0, 153, 153, 1);
        background: transparent;
    }
    .cta a:hover {
        color: white;
        background: #009999;
        border-color: #009999;
    }
    .cta a:after {
        font-size: 30px;
        content: "\271A";
        content: "\2794";
        padding-left: 8px;
        font-weight: normal;
        vertical-align: -3px;
        transition-duration: 0.5s;
        color: rgba(0, 153, 153, 0.8);

    }
    .cta a:hover {
        color: White;
    }
    .cta :hover:after {
        color: White;
        margin-right: -15px;
        padding-left: 24px;
    }
    /* HEADLINE backgrounds */
    .headline.background {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .headline.background.realestate {
        background-image: url("/assets/headline-realestate.jpeg");
        background-position: right bottom;
    }
    .headline.background.investment {
        background-image: url("/assets/headline-investment.jpeg");
        background-position: right bottom;
    }
    .headline.background .cta a {
        border: 1px solid white;
    }
    .headline.background .cta a, .headline.background .cta a:after, .headline.background .caption, .headline.background .subcaption {
        color: white;
    }





    .telephone {
        border: 1px solid rgba(0, 153, 153, 0.2);
        background: rgba(0, 77, 77, 0.045);
        margin-bottom: 4em;
        margin-top: 4em;
    }
    .telephone span.large {
        color: #009999;
        margin: 0;
        font-size: 40px;
        word-break: keep-all;
        white-space: nowrap;
    }
    .telephone span {
        color: #888;
        display: block;
    }
    .telephone span.hours {
        font-size: 16px;
    }
    .telephone span strong {
        font-weight: bold;
    }
    /* --- --- --- */
    h2 {
    	font-size: 45px;
    }
    .highlight h2, .profile-list h2 {
    	font-size: 55px;
    }
    .thefirm h2 {
    }
    .ourteam .profile-title h2 {
    	font-size: 65px;
    	margin-top: 7rem;
    }
    /* --- FONT SIZES --- ------- MEDIUM or larger --- */
    h3 {
    	font-size: 28px;
    }
    /* --- --- --- */
    h4 {
    	font-size: 20px;
    }
    .ourLocations p {
        font-size: 15px;
    }
    .image + h2, .image + div h2, .image + h3, .image + div h3 {
        padding-top: 0.65em;
    }
    /* --- --- --- */
    .ourLocations p, .ourteam .description  {
        font-size: 17px;
        margin-bottom: 8px;
        line-height: 1.2;
    }
    span.location {
        font-size: 0.85em;
        margin: -10px 0 0 10px;
        color: #aaa;
    }
    ul.chevron li {
        background-size: 12px 12px;
    }

    /* --- CURVY CORNERS ------------ MEDIUM or larger --- */
    footer .copyright {
        border-radius: 3px 3px 0 0;
    }
    footer .title, .cta a, .telephone {
        border-radius: 3px;
    }
    .navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover,
    .navbar .navbar-right > li > a:last-child, .navbar .navbar-right > li > a:last-child:hover, .navbar .highlight > li > a:last-child:focus,
    .ourLocations {
        border-radius: 0 0 3px 3px;
    }

    /* --- _CONTAINER ------------ MEDIUM or larger --- */
    .focus {
        background: rgba(45, 57, 57, 0.05);
        padding-bottom: 1.3em;
    }
    /* --- --- --- */
    .highlight {
    }
    .ourLocations {
        padding: 0 0 10px;
    }
    /* --- --- --- */
    .image-expand {
        margin: 0 -14.5px;
    }
    /* --- --- --- */
    .image-shadow {
        position: relative;
        /* float: left; */
    }
    .image-shadow:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow:
		    inset 0 -50px 150px -50px rgba(120,120,0,0.4),
		    inset 0 50px 150px -50px rgba(120,120,0,0.4);
		box-shadow:
		    inset 0 -40px 40px -40px rgba(255,255,0, 0.2),
		    inset 0 40px 40px -40px rgba(255,255,0, 0.2);
		border-radius: 4px;
	}
    /* --- --- --- */
    ul.half-width {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 0;
    }
    ul.third-width {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }




    /* --- _PAGES ----------------- MEDIUM or larger --- */

    /* --- _HOME ------------------ MEDIUM or larger --- */
    .homeOurteam {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 2em;
    }
    /* --- _PRACTICEAREAS --------- MEDIUM or larger --- */
    .practiceareas img {
        padding-top: 2.3em;
        margin-bottom: -.7em;
    }
    .practiceareas h2 {
        text-align: center;
    }
    /* --- _OURTEAM ------------- MEDIUM or larger --- */
    .ourteam .profile-title h2 span, .profile-list h3 span {
        display: block;
        font-size: 18px;
        color: #777;
        letter-spacing: 1px;
        padding: 5px;
    }
    /* --- _OURTEAM HOME ------------- MEDIUM or larger --- */
    .profile-list img {
        width: 125px;
        height: 125px;
    }
    .profile-list .row .col-sm-3 {
    }
    .profile-list .row .col-sm-3:nth-child(6) {
        clear: left;
    }
    /* --- _OURTEAM ITEM ------------- MEDIUM or larger --- */
    .ourteam .profile-title {
        border-top: 2em solid white;
        padding: 0.5em 0;
        background: rgba(0, 0, 0, 0.03);
        box-shadow: inset 0 -100px 150px -70px rgba(0,0,0,.06);
    }
    .ourteam .profile-title img {
        box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
    }
    .ourteam .content {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
    .ourteam .content:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }
    .ourteam .description p {
    }
    /* --- _LINKSEVENTS ---------- MEDIUM or larger --- */
    .linksevents header {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 2em;
    }
    /* --- _CONTACTUS ------------ MEDIUM or larger --- */
    .contactus header {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 2em;
    }


    /* --- _NAv MAINNAV --- MEDIUM or larger --- */
    .nav > li > a {
        padding: 10px;
    }
    .navbar-brand {
        padding: 10px 15px;
        height: auto;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: inherit;
        background: inherit;
    }
    .navbar {
        border: 0;
        background: rgba(255,255,255,0.95);
        box-shadow: 0 0 30px -4px rgba(0,0,0,.2);
        background-position: center bottom;
        transition-duration: 0.5s;
        min-height: 40px;
    }
    .nav > li > a:hover, .nav > li > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
        background: inherit;
    }
    .navbar.noscroll {
        background: transparent;
        box-shadow: none;
    }
    .dropdown {
        cursor: pointer;
    }
    .dropdown-menu {
        background: rgba(255,255,255,0.95);
        box-shadow: 0px 5px 4px 1px rgba(0,0,0,.3);
        border: 0;
    }
    .dropdown-menu > li:last-child > a {
        font-weight: 300;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        text-align: right;
    }
    .noscroll .dropdown-menu {
        background: transparent;
        box-shadow: none;
    }
    .noscroll a, .navbar.noscroll .navbar-nav > li > a, .noscroll .dropdown-menu > li > a {
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    .navbar.noscroll .navbar-nav > li > a:hover, .navbar.noscroll .navbar-nav > li > a:focus, .noscroll .dropdown-menu > li > a:hover {
        color: #ace600;
    }
    .subnav {
        margin: 4em 10% 0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .subnav li {
        padding: 0;
        line-height: 2;
    }
    .subnav a {
        padding: 0 6px;
        word-break: keep-all;
        white-space: nowrap;
        border: 2px solid white;
        border-radius: 5px;
        line-height: 1.5;
        color: rgba(255, 128, 0, 0.9); /* ff8000 */
    }
    .subnav a:hover {
        border-color: rgba(255, 128, 0, 0.7);
    }
    /* --- --- ---
    .breadcrumb {
        color: White;
        margin-bottom: 0;
        margin-top: -50px;
        position: relative;
    }
    */
    /* --- _FOOTER --- MEDIUM or larger --- */
}




            /* === LARGE or larger =================================== */

            @media only screen and (min-width : 993px) {
                body {
                    font-size: 20px;
                }
                ul.chevron li {
                    background-size: 15px 15px;
                }
                /* --- CURVY CORNERS ------------ LARGE or larger --- */
                .image-shadow:before, .image-shadow img {
                    border-radius: 3px;
                }
                .focus {
                    border-radius: 5px;
                }
                /* --- FONT-SIZE --- LARGE or larger --- */
                .navbar, .subnav {
                    font-size: 17px;
                }
                .navbar-brand {
                    margin-right: 10px;
                }
                .banner h1 {
                	font-size: 100px;
                }
                .banner p {
                    font-size: 40px;
                }
                .headline .caption {
                    font-size: 45px;
                }
                .telephone span.large {
                    font-size: 50px;
                }
                .telephone span {
                    margin-bottom: 0.8em;
                }
                .telephone span.hours {
                    padding-top: 0.8em;
                }


                .cta a {
                    font-size: 25px;
                }

                footer {
                    font-size: 17px;
                }

            /* === X-LARGE or larger =================================== */
            @media only screen and (min-width : 1201px) {}







                                        /* ======================================================= */












/*
div[class^='col'] h3, div[class*='col'] h3 {
    color: #F00;
}

.col-lg-3:nth-child(4n+1){
    clear: left;
}
*/

/* --- _COLORS
ace600 - real lime
94c20a - link hover | logo background
009973 - nav color

739900 - logo hover background

00b386 - blue green used for default heading color

1f473d - dark green highlight background
66ffff - blue text
ffff66 - yellow text
ffd966 - orange text

ff8000 - beutifull text color

daffb3; - light green backgrounds
d9f0c1;
dcf8d3;
f2ffe6
e6ffcc



eef7f4 - two nice light blue backgrounds
daf1eb


e5ffeb - light blue backgrounds
ccffd8
daf1e6


    background: #daffb3;
    background: #d9f0c1;
    background: #dcf8d3;
    background: #dcf8d3;

    background: #e5ffeb;
    background: #b8d65c;
    background: #ccff99;
    background: #d9f4be;

        background: rgba(198, 210, 210, 0.9);


        transform: translate(-50%, -50%);


    background: rgba(0, 200, 200, 0.5); /* homeVideo6HD
    background: rgba(0, 0, 100, 0.4); /* homeVideo9HD
    background: rgba(30, 100, 0, 0.7); /* homeVideo11HD
    background: rgba(50, 100, 50, 0.5); /* homeVideoA
    background: rgba(30, 100, 30, 0.7); /* homeVideoB



*/


nice background

    background: rgba(0, 77, 77, 1);
