<section ng-controller="teamHomeCtrl"><div class="ourteam">

    <!-- 07 ===================  =================== -->

    <div class="profile-title" id="profile07">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-evgeny.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Evgeny V. GOLOVANOV <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>International law</p>
                    <p>Russian civil law</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Russian Federation – St Petersburg, Moscow (Practices in Russia)</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>St. Petersburg State University Law School, Russia – International Law Jurisdiction Degree, (2005)</p>
                    <p>Moscow State University of Foreign Relations (MGIMO) – International Law PhD program.</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>Russian</p>
                    <p>English</p>
                    <p>basic German</p>
                    <p>Latin</p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Publications</h3>
                <p>Few aspects of totalitarian regimes in XXI century. Law School magazine (2002)</p>
                <p>Public science – Teaching guide (2007). The UN Security Council: the place and importance in the XXI century. POLITEKS political expertise. Vol.8. Number 2. St. Petersburg., 2011.</p>
                <p>Crisis in the approaches to reforming the UN Security Council. / / Political institutions in the world today. Materials of the Scientific Conference with International Participation 10 - December 11, 2010, St. Petersburg., 2010.</p>
                <p>Approaches to the UN Security Council reform: political and legal aspects. / / United Nations: Challenges and mechanisms. Collection of scientific papers. St. Petersburg., 2011</p>
                <p>The problem of Kosovo in the context of the concept of universal security. / / Politics in texts - texts in politics: science is the history of ideas and doctrines. Materials of the International scientific conference, the 40th Anniversary of the Department of Social and Political History of the exercise of political science faculty of Moscow State University. MV University. 28-29 October 2011, Moscow, 2011.</p>
                <p>The crisis of universal security system: history, theory and practice. / / Politics in texts - texts in politics: science is the history of ideas and doctrines. Materials of the International scientific conference, the 40th Anniversary of the Department of Social and Political History of the exercise of political science faculty of Moscow State University. MV University. 28-29 October 2011, Moscow, 2011.</p>

                <div class="content">
                    <h3>Experience</h3>
                    <p>Executive secretary, United Nations Association Russia (from 2003).</p>
                    <p>Professor of International law and Public science (from 2005).</p>
                    <p>Dean assistant School of Political science St. Petersburg State University (from 2009).</p>
                    <p>President of IBC group Russian Office (2007 - current).</p>
                </div>
            </div>
        </div>
    </div>
</div></secrtion>



    <!-- 08 =================== Jasmin WELKER =================== -->

    <div class="profile-title" id="profile08">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2>Jasmin WELKER <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p>Civil Law</p>
                    <p>Contractual Law</p>
                    <p>Negotiation</p>
                    <p>Management</p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p>Germany</p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p>University of Erlangen-Nurnberg, Nurnberg, Germany, Second State Exam (JD) Jan 2012</p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p>German</p>
                    <p>English</p>
                    <p>French</p>
                    <p>Turkish (conversational)</p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="content">
                    <h3>Experience</h3>
                    <p>Lex International law Firm, Miami, Florida, USA, 8/2016 – present, Jurist + German Attorney (Contracts and Corporate Law, Immigration, real estate).</p>
                    <p>Sixt Rent a Car, LLC, Fort Lauderdale, USA, 07/2013-11/2015, Contract and Concession Manager	(business, compliance, contracts, corporate).</p>
                    <p>Drager & Kollegen Law Firm, Bamberg, Germany, 11/2012-06/2013, Attorney at Law (family, employment, inheritance, corporate law and litigation.</p>
                    <p>Cenanovic Law Firm, Bamberg, Germany, 09/2012-10/2012, Attorney at Law	(employment, civil law and litigation).</p>
                    <p>Sparkasse,  Nurnberg, Germany, 01/2011-03/2011, Referendar (foreclosure law).</p>
                    <p>Lex International Law Firm, P.A. Miami, Florida, USA, 01/2011 – 03/2011, Referendar (immigration, corporate law, estate and trust, real estate).</p>
                    <p>Kreuzer & Coll, Law Firm, Nurnberg, Germany, 03/2010-12/2010, Referendar (real estate).</p>
                </div>
            </div>
        </div>
    </div>




    <!-- 09 ===================  =================== -->

    <div class="profile-title" id="profile04">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2> <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p></p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Publications</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <div class="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>




    <!-- 10 ===================  =================== -->

    <div class="profile-title" id="profile10">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="img-circle" src="assets/ourteam-zamora.jpg">
                </div>
                <div class="col-sm-8">
                    <h2> <span>Jurist</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container description">
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <h3>Practice areas</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Admissions</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Education</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="content">
                    <h3>Languages</h3>
                    <p></p>
                </div>
            </div>

            <div class="col-sm-8">
                <h3>Publications</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <div class="content">
                    <h3>Experience</h3>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>



</section>



















<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
            <h2>Welcome to 'Modern Business'</h2>

            <p>This is a great place to introduce your company or project and describe what you do. This about page
                features general company information, employee bios, and other helpful elements.</p>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
