<section ng-controller="ourteamCtrl">

<div class="details" ng-model="countries">
    <img ng-src="assets/our_team/{{countries[whichProfile].imageURL}}.{{countries[whichProfile].imageExt}}">
    <div>
        <h2>{{ countries[whichProfile].profileName }}</h2>
    </div>
</div>




</section>
<!--
<li ng-repeat="item in guitarVariable | filter:query1 | orderBy:orderGuitar:direction">
      <a href="#/details/{{guitarVariable.indexOf(item)}}">
	 <img ng-src="img/{{item.image}}.jpg">
	 <div>
	   <h3> {{item.name }}</h3>
	   <p class="rightDate">Price Revised on: {{item.dateAdded | date:'MM/yy'}}</p>
           <p class="rightPrice">${{item.price | number:0 }}</p>
	   <p> {{item.description}}</p>
	   </div>
     </a>
   </li>



    <header>
        <div class="profile-title" id="profile01">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-circle" width="225" height="225" src="assets/profiles/{{ imageURL }}.{{ imageExt }}">
                    </div>
                    <div class="col-sm-8">
                        <h1>Lucius SMEJDA <span>Principal</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

